@model BaseJumpContracts.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    <hr />
    <h3>
    @Html.DisplayNameFor(model => model.Subscriptions)
    </h3>
    <table class="table">
        <tr>
            <th>Service ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        
        @foreach (var item in Model.Subscriptions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Description)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Subscription", new { id = item.SubscriptionID }, null)
                </td>
            </tr>
        }

    </table>
   <p>
    @Html.ActionLink("Add Subscription", "Create", "Subscription", new { customerID = Model.ID }, null)
    
   </p>
</div>
<p>
    @Html.ActionLink("Edit Customer", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
