@model BaseJumpContracts.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<p>@Html.ActionLink("Edit Customer", "Edit", new { id = Model.ID })</p>

<div>
    
    <h3>
    @Html.DisplayNameFor(model => model.Subscriptions)
    </h3>
    <table class="table">
        <tr>
            <th>Service ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        
        @foreach (var item in Model.Subscriptions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Description)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Subscription", new { id = item.SubscriptionID }, null)
                </td>
            </tr>
        }

    </table>
   <p class="under-table">
    @Html.ActionLink("Add Subscription", "Create", "Subscription", new { customerID = Model.ID }, null) | 
    @Html.ActionLink("Get Contract PDF", "Contract", new { id = Model.ID })
   </p>
</div>
<p>
    
    @Html.ActionLink("Back to Search", "Index")
</p>
