<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BaseJump Contracts</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/custom.css" type="text/css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/EventLogger.js"></script>

</head>
<body>
    <div class="header">@Html.ActionLink("BaseJump Contracts", "Index", "Customer")</div>
    <div class="menu">
        <ul>
            <li>My Customers (Coming Soon)</li>
            <li>@Html.ActionLink("Search Customers", "Index", "Customer")</li>
            <li>@Html.ActionLink("New Customer", "Create", "Customer")</li>
        </ul>
    </div>
    <div class="main">

        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
